*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    /* font-family: "Inter",sans-serif; */
  }
:root{
    --yellow-color:#C29D59;
    --dark-color:#2B2B2B;
    --icon-size:25px;
    --light-white:#f1f1f1;
    --border-right:1px solid #f1f1f1;
    --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    
  }
.thumbnai-wrapper{
    max-height: 100vh;
    position: relative;
}
.thumb-container{
position: relative;
}
.carousel-caption{
    display: none;
}
.custom-coursel-capt{
    display: block;
    position: absolute;
    top: 100px;
}

.thumb-desc1{
    color: var(--light-white);
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}
.thumb-desc2{
    color: var(--light-white);
    border: 0;
    outline: 0;
    font-size: 30px;
    background-color: var(--yellow-color);
    padding: 10px 60px;
    width: 500px;
    margin-left: auto;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 20px;
}
.thumb-desc3{
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    line-height: 30px;
   margin-left: auto;
   margin-right: auto;
}
.slide-show-img{
height: 90vh;
width: 100%;
/* filter: sepia(100%); */
}
/* form styles for thumbnail */
.thumb-form{
    margin-left: 50px;
    padding: 10px;
    margin-right: 50px;
    border-left: 3px solid var(--yellow-color);
    border-right: 3px solid var(--yellow-color);
    box-shadow: var(--box-shadow);
    position: absolute;
    background: var(--light-white);
    bottom: -50px;
    width: 90%;
    
}
.thumb-form .thumb-form2{
    display: flex;
    gap: 30px;
    padding: 20px;
}
.thumb-form .thumb-form2 input{
    width: 200px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    padding-left: 40px;
    display: flex;
    font-size: 16px;
}
.thumb-form form  select{
    width: 300px;
    padding: 12px 40px;
    border-radius: 7px;
    
}
.locationss{
    display: flex;
    align-items: center;
    position: relative;
}
.calendar{
    display: flex;
    align-items: center;
    position: relative;
}
.traveltype{
    display: flex;
    align-items: center;
    position: relative;
}
.form-iconss{
    position: absolute;
    left: 20px;
    right: 30px;
    top: 30%;
    font-size: 20px;
    color: var(--yellow-color);
    display: flex;
    gap: 20px;
}
.btn-find{
    padding: 10px;
    width: 100px;
    color: white;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background: var(--yellow-color);
}
.carousel-control-prev, .carousel-control-next {
    display: none; /* Hide the default navigation buttons */
  }
  .custom-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--yellow-color);
    
    cursor: pointer;
    
  }
  .custom-prev{
    position: absolute;
    color: var(--light-white);
    text-transform: capitalize;
    padding-left: 40px;
    padding-top: 30px;
    width: 50px;
    height: 70px;
  }
  .custom-prev p{
    transform: rotate(-90deg);
    transform-origin: bottom left;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 20px;
  }
  .custom-next{
    position: absolute;
    color: var(--light-white);
    text-transform: capitalize;
    padding-right: 40px;
    height: 70px;
    width: 50px;
    right: 0;
  }
  .custom-next p{
    transform: rotate(90deg);
    transform-origin: bottom right;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 20px;
  }
  @media screen and (max-width: 900px) {
    .thumbnai-wrapper{
        max-height: 150vh;
        position: relative;
        margin-top: 10%;
    }
    .thumb-container{
        position: relative;
        height: 100vh;
        }
        /* .thumb-content{
            top: 30%;
            right: 80px;
            left: 80px;
            position: absolute;
            align-items: center;
            border: 1px solid blue;
            
        } */
      
        .thumb-desc1{
            color: var(--light-white);
            font-size: 25px;
            text-align: center;
            text-transform: capitalize;

        }
        .thumb-desc2{
            color: var(--light-white);
            border: 0;
            outline: 0;
            color: var(--light-white);
            font-size: 20px;
            background-color: var(--yellow-color);
            padding: 10px 60px;
            width: 300px;
            margin-left: 10px;
            text-transform: capitalize;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .thumb-desc3{
            font-size: 15px;
            text-transform: capitalize;
            color: var(--light-white);
            line-height: 30px;
            margin-left: 10px;
            margin-top: 10px;
        }
        .thumb-container img{
        height: 100vh;
        width: 100%;
        }
        /* form styles for thumbnail */
.thumb-form{
    margin-left: 20px;
    padding: 10px;
    margin-right: 20px;
    border-left: 3px solid var(--yellow-color);
    border-right: 3px solid var(--yellow-color);
    box-shadow: var(--box-shadow);
    position: absolute;
    background: var(--light-white);
    bottom: -200px;
    width: 90%;
    
}
.thumb-form .thumb-form2{
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 10px;
}
.thumb-form .thumb-form2 input{
    width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding-left: 40px;
    display: flex;
    font-size: 16px;
}
.thumb-form form  select{
    width: 100%;
    border: 1px solid lightgrey;
    padding: 15px 40px;
    border-radius: 7px;
    
}
.locationss{
    display: flex;
    align-items: center;
    position: relative;
}
.calendar{
    display: flex;
    align-items: center;
    position: relative;
}
.traveltype{
    display: flex;
    align-items: center;
    position: relative;
}
.form-iconss{
    position: absolute;
    left: 20px;
    right: 30px;
    top: 30%;
    font-size: 20px;
    color: var(--yellow-color);
    display: flex;
    gap: 20px;
}
.btn-find{
    padding: 10px;
    width: 100%;
    color: white;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background: var(--yellow-color);
}
        .custom-carousel-control {
            display: none;
          }
          
  }