*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow-color:#C29D59;
    --dark-color:#2B2B2B;
    --icon-size:25px;
    --light-white:#f1f1f1;
    --border-right:1px solid #f1f1f1;
    --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    --dark-gray: #343a40;
  }
  
.about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 80px 30px;
    height: 90vh;
   
}
.about-content1{
    flex-basis: 40%;
    padding-left: 40px;
    
}
.about-content1 img{
    width: 400px;
    height: 350px;

}
.about-content2{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-title{
    text-transform: capitalize;
    font-size: 22px;
    border-left: 2px solid var(--yellow-color);
    padding-left: 10px;
    color: var(--yellow-color);
}
.about-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-desc p:first-of-type{
font-size: 22px;
text-transform: capitalize;
}
.about-desc p{
    line-height: 30px;
}
.btn-about{
    padding: 20px;
    background: var(--yellow-color);
    color: var(--light-white);
    outline: 0;
    text-decoration: none;
    border: 0;
    width: 150px;
    border-radius: 7px;
    text-transform: capitalize;
}
/* amazing section styles */
.Amazing-wrapper{
    padding:  2px 100px;
    margin-bottom: 20px;
    overflow: hidden;
}
.amazing-header{
    display:flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
.amazing-header h1{
    font-size: 24px;
}
    .amazing-header h1:first-of-type{
        color: var(--yellow-color);
        font-size: 20px;
        border-left:  2px solid var(--yellow-color);
        padding-left: 12px;
    }
.amazing-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    
}
.box{
    position: relative;
}
.box1 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .box1 img{
    width: 100%;
    height: 300px;
  }
  .box2{
    grid-column: span 1;
    grid-row: span 2;
  }
  .box2 img{
    height: 100%;
    width: 100%;
  }
  .box3 img{
    height: 300px;
    width: 100%;
  }
  .box4 img{
    height: 300px;
    width: 100%;
  }
  /* modal styles */
  .modal-container{
    background: var(--dark-color);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 100px;
    animation-name: example;
    animation-duration: 0.8s;
  
  }
  @keyframes example {
    0% {
        left: 100%; /* Start from the right side */
      }
      100% {
        left: 0; /* End on the left side */
      }

  }
  .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close-modal{
    color: var(--light-white);
    font-size: 25px;
    border: 3px solid var(--light-white);
    padding: 7px;
    border-radius: 50%;
  }
  .modal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .modal-links{
    background-color: var(--dark-gray);
display: flex;
flex-direction: column;
gap: 20px;
padding: 20px 90px;
width: 400px;

  }
  .modal-links a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--light-white);
    text-transform: capitalize;
  }
  .modal-icons{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--yellow-color);
  }
  /* styles for tour page */

  .tour-container{
    height: 100vh;
    text-align: center;
  }
  .tour-container h1{
     position: absolute;
     top: 50%;
     color: white;
     left: 40%;
     font-size: 70px;
  }
  .tour-container img{
    height: 100vh;
    width: 100%;
  }
  
  .tour-content-wrapper{
    display: flex;
    padding:5px 50px ;
    position: relative;
  }
  .tour-location-wrapper{
    flex-basis: 60%;
  }
  .tour-form-wraper{
    flex-basis: 40%;
  }
  .tour-location-form{
    display: flex;
  }
  .sort-by{
width: 200px;
    padding: 7px;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    width: 250px;
  }
  .tour-location-form form {
display: flex;
  }
  .tour-location-form form select {
        padding: 7px;
        width: 250px;
        height: 40px;
      }
.tour-location-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-top: 30px;
}
.tour-loaction-content{
    box-shadow: var(--box-shadow);

}
.loacation-img{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
      }
.tour-location-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-left: 2px solid var(--yellow-color);
    position: relative;
} 
.tour-location-desc .locatio-btn{
    width: 100px;
    color: var(--light-white);
    background: var(--yellow-color);
    padding: 7px;
    border: 0;
    outline: 0;
    position: absolute;
    top: -30px;
}
.tour-location-desc h1{
    font-size: 16px;
    line-height: 10px;
    text-transform: capitalize;
    font-weight: 540;

}
.tour-location-desc p{
    font-size: 16px;
    text-transform: capitalize;
    color: gray;
}
.laction-size{
    display: flex;
    justify-content: space-between;

}
.duration{
    display: flex;
    
}
.duration-desc{
    display: flex;
    flex-direction: column;
}
.duration-desc h4{
    font-size: 14px;
}
.duration-desc p{
    font-size: 12px;
}
.size{
    display: flex;
}
.location-icon{
    color: var(--yellow-color);
    font-size: 18px;
}
.tour-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-amount h1{
    font-size: 25px;
}
.btn-book{
    padding: 10px;
    color: var(--light-white);
    background-color: var(--yellow-color);
    outline: 0;
    border: 0;
    border-radius: 7px;
    text-decoration: none;
}
.tour-form-wraper{
    display: flex;
    flex-direction: column;
    padding: 20px;
   
    gap: 20px;
    right: 0;
    background: whitesmoke;
    box-shadow: var(--box-shadow);
}
.tour-form1{
    display: flex;
    flex-direction: column;
    padding: 2px 20px;
    box-shadow: var(--box-shadow);

}
.tour-find{
    text-transform: uppercase;
    font-size: 18px;
    border-left: 2px solid var(--yellow-color);
    padding-left: 10px;
}
.tour-form1 form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tour-form1 form input{
    padding: 7px 40px;
    font-size: 20px;
    width: 300px;
}
.tour-form1 form select{
    padding: 13px 40px;
    width: 300px;
    text-align: left;
}
.tour-search{
    position: relative;
}
.form-tour-icons{
    position: absolute;
    top: 10px;
    left: 20px;
    color: var(--yellow-color);
}
.tour-form2{
    display: flex;
    flex-direction: column;
    padding:20px;
    height: 300px;
    z-index: 100px;
    box-shadow: var(--box-shadow);
    background-color:whitesmoke
}

.tour-form3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 300px;
    z-index: 100px;
    background-color: var(--yellow-color);
    color: var(--light-white);
}
.tour-form3 p{
    width: 300px;
}
/* tour detail styles */
.detail-content-wrapper{
  display: flex;
  position: relative;
  margin-top: 30px;
  height: 200vh;
}
.detail-content-wrapper1{
  flex-basis: 60%;
  padding:  10px 20px;
}
.detail-location-desc{
  display: flex;
}
.information,.tour-plan,.location,.gallery,.review{
  padding: 20px;
  border: 1px solid black;
  width: 150px;
}
.offer-detail-amount{
  display: flex;
  justify-content: space-between;
}
.offer-detail-amount h1{
  font-size: 26px;
  flex-basis: 60%;
}
.amount-perperson{
  width: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--yellow-color);
}
.amount-perperson .amount-1{
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top:5px;
  left: 20px;
  color: var(--light-white);
  border-bottom: 1px solid lightgray;
  width: 60%;
}
.amount-perperson .amount-2{
  position: absolute;
  top:30px;
  color: var(--light-white);
  font-size: 12px;
}
.header-detail-desc{
  display: flex;
  padding: 10px;
  background: var(--yellow-color);
  font-size: 16px ;
  margin: 30px 1px;
  justify-content: space-between;
}
.table-wrapper{
  width: 100%;

}
table{
  width: 100%;
  border-collapse: collapse;
}
table th {
  border: 1px solid lightgray;
  width: 50%;
  padding: 20px;
}
table td{
  border: 1px solid lightgrey;
  width: 50%;
}
.tour-slide{
  border: 1px solid red;
  width: 300px;
}
.tour-slide img{
  width: 100%;
  height: 200px;
}
/* responsiveness design */
@media screen and (max-width: 900px) {
  .about-wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    margin-top: 200px;
   height: 160vh;
}
.about-content1{
    flex-basis: 20%;
    padding-left: 10px;  
}
.about-content1 img{
    width: 100%;
}
.about-content2{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.about-title{
    text-transform: capitalize;
    font-size: 22px;
    border-left: 2px solid var(--yellow-color);
    padding-left: 10px;
    color: var(--yellow-color);
}
.about-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-desc p:first-of-type{
font-size: 22px;
text-transform: capitalize;
}
.about-desc p{
    line-height: 28px;
}
.btn-about{
    padding: 10px;
    background: var(--yellow-color);
    color: var(--light-white);
    outline: 0;
    width: 110px;
    text-decoration: none;
    border: 0;
    border-radius: 7px;
    text-transform: capitalize;
}
/* amazing section responsiveness styles */
.Amazing-wrapper{
  padding:  2px 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.amazing-header{
  display:flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
.amazing-header h1{
  font-size: 24px;
}
  .amazing-header h1:first-of-type{
      color: var(--yellow-color);
      font-size: 20px;
      border-left:  2px solid var(--yellow-color);
      padding-left: 12px;
  }
.amazing-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.amazing-container img{
  height: 350px;
}
.tour-container{
  height: 50vh;
  margin-top: 70px;
  text-align: center;
}
.tour-container h1{
   position: absolute;
   top: 50%;
   color: white;
   left: 40%;
   font-size: 20px;
   color: #C29D59;
}
.tour-container img{
  height: 50vh;
  width: 100%;
}

.tour-content-wrapper{
  display: block;
height: auto;;
  overflow: auto;
}

.tour-location-form{
  display: flex;
  flex-direction: column;
}
.sort-by{
width: 200px;
  padding: 7px;
  border: 1px solid black;
  height: 40px;
  text-align: center;
  width: 250px;
}
.tour-location-form form {
display: flex;
}
.tour-location-form form select {
      padding: 7px;
      width: 250px;
      height: 40px;
    }
.tour-location-container{
  display: flex;
  flex-direction: column;
}
.tour-loaction-content{
  box-shadow: var(--box-shadow);
}
.loacation-img{
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
    }
.tour-location-desc{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-left: 2px solid var(--yellow-color);
  position: relative;
} 
.tour-location-desc .locatio-btn{
  width: 100px;
  color: var(--light-white);
  background: var(--yellow-color);
  padding: 7px;
  border: 0;
  outline: 0;
  position: absolute;
  top: -30px;
}
.tour-location-desc h1{
  font-size: 16px;
  line-height: 10px;
  text-transform: capitalize;
  font-weight: 540;

}
.tour-location-desc p{
  font-size: 16px;
  text-transform: capitalize;
  color: gray;
}
.laction-size{
  display: flex;
  justify-content: space-between;

}
.duration{
  display: flex;
  
}
.duration-desc{
  display: flex;
  flex-direction: column;
}
.duration-desc h4{
  font-size: 14px;
}
.duration-desc p{
  font-size: 12px;
}
.size{
  display: flex;
}
.location-icon{
  color: var(--yellow-color);
  font-size: 18px;
}
.tour-amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-amount h1{
  font-size: 25px;
}
.btn-book{
  padding: 10px;
  color: var(--light-white);
  background-color: var(--yellow-color);
  outline: 0;
  border: 0;
  border-radius: 7px;
  text-decoration: none;
}
.tour-form-wraper{
  display: block;
  flex-direction: column;
  padding: 40px;
  background: whitesmoke;
  box-shadow: var(--box-shadow);
  position: absolute;
  
}
.tour-form1{
  display: flex;
  flex-direction: column;
  padding: 2px 20px;
  box-shadow: var(--box-shadow);
  

}
.tour-find{
  text-transform: uppercase;
  font-size: 13px;
  border-left: 2px solid var(--yellow-color);
  padding-left: 10px;
}
.tour-form1 form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tour-form1 form input{
  padding: 7px 40px;
  font-size: 20px;
  width: 300px;
}
.tour-form1 form select{
  padding: 13px 40px;
  width: 300px;
  text-align: left;
}
.tour-search{
  position: relative;
}
.form-tour-icons{
  position: absolute;
  top: 10px;
  left: 20px;
  color: var(--yellow-color);
}
.tour-form2{
  display: flex;
  flex-direction: column;
  padding:20px;
  z-index: 100px;
  box-shadow: var(--box-shadow);
  background-color:whitesmoke;
  height: 150px;
}

.tour-form3{
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 100px;
  height: 150px;
  background-color: var(--yellow-color);
  color: var(--light-white);
}
.tour-form3 p{
  width: 300px;
}
/* tour detail  page*/
.detail-content-wrapper{
  display: block;
  position: relative;
  margin-top: 30px;
  height: 200vh;
}
.detail-image{
  width: 200px;
  height: 100px;
}
}