*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow-color:#C29D59;
    --dark-color:#2B2B2B;
    --icon-size:25px;
    --light-white:#f1f1f1;
    --border-right:1px solid #f1f1f1;
    --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    
  }
.login-wrapper{
    padding: 10px 30px;
    background-image: url('../../assets/images/mount7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.login-page{
    background-color:white;
    padding: 20px;
    width: 500px;
    float: right;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    height: 70vh;
}
.login-form{
    display: flex;
    
    flex-direction: column;
    gap: 10px;
    width:100%;
    padding: 10px;
}
.login-form h1{
    font-size: 23px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form form input[type=email] {
   width: 100%;
   border-radius: 7px;
   padding: 10px; 
   outline: 0;
   border: 0;
   border: 1px solid lightgray;
}
.login-form form input[type=number] {
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 0;
    border: 1px solid lightgray;
 }
 .login-form form select{
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 0;
    border: 1px solid lightgray;
 }
.login-form form input[type=text] {
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 0;
    border: 1px solid lightgray;
 }
.login-form form input[type=password] {
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 1px solid lightgray;
 }
 .login-form form input[type=checkbox] {
    width: 20px;
    border-radius: 7px;
 }
.check-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.password-forgot{
    display: flex;
    justify-content: space-between;
}
.password-forgot a{
    text-decoration: none;
    text-transform: capitalize;
}
.login-form form button[type=submit]{
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    border: 1px solid lightgray;
    background: var(--yellow-color);
    margin-bottom: 20px;
}
.login-form form button[type=button]{
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 1px solid lightgray;
}
.login-form a{
    text-decoration: none;
    color: black;
}

.signup-page{
    background-color:white;
    padding: 20px;
    width: 500px;
    float: right;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    height: 80vh;
}
.signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
    padding: 10px;
}
.email-name-signup{
    display: flex;
    justify-content: space-between;
    margin: 10px 1px;
}
.email-name-signup input{
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 0;
    border: 1px solid lightgray;
}
.password-location{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.password-location input{
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    border: 0;
    border: 1px solid lightgray;
}
.password-location input[type=checkbox] {
    width: 20px;
    border-radius: 7px;
 }

.password-location button[type=submit]{
    width: 100%;
    border-radius: 7px;
    padding: 10px; 
    outline: 0;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    border: 1px solid lightgray;
    background: var(--yellow-color);
    margin-bottom: 10px;
}
.signup-form h1{
    font-size: 23px;
}
.signup-form a{
    text-decoration: none;
    color: black;
}
.advenure-wrapper{
    padding-top: 10%;
}
.advenure-wrapper h1{
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    
}








legend{
padding: 10px 10px;
display: block;
font-size: 15px;
}
.btn-google1{
    display: flex;
    justify-content: space-between;
}
.btn-google{
    width: 120px;
}
.btn-facebook{
    width: 120px;
    color: dodgerblue;
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 5px;
}
.google{
    width: 20px;
    height: 20px;
}
.login-image{
    flex-basis: 60%;
    background: white;
}
.login-image-container img{
    width: 100%;
    height: 100%;
    
}
